.item {
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.item:hover {
  background-color: rgb(200, 200, 200);
  transform: translate(0, -5px);
}

.item:hover .name, .item:hover .text {
  color: #161616;
}

.item:not(:last-child) {
  margin: 0 0 20px;
}

.header {
  display: flex;
  align-items: center;
}

.avatar img {
  width: 50px;
  height: 50px; 
  border-radius: 100%;
}

.name {
  margin: 0 0 0 20px;
  color: #fff;
  font-size: 18px;
  transition: color 0.2s ease-in-out;
}

.email {
  margin: 0 0 0 10px;
  color: rgb(125, 125, 125);
}

.text {
  font-size: 35px;
  color: #fff;
  transition: color 0.2s ease-in-out;
  margin: 20px 0 0;
}